# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\rossm\Google Drive\Masters\Course\Online Tutorials\Deploy\Charming Data\rerun-demo-app5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
